body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

textarea,
select {
  font-size: 16px;
  padding: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

h1 {
  color: #333;
}

h3 {
  color: #555;
}

p {
  font-size: 18px;
}
